.nav {
    width: 1440;
    height: 72;
    border-width: 1px;
    color: #E7E9FC;
}
.logo {
    width: 115;
    height: 24;
    top: 24px;
    left: 156px;
    font-family: Raleway;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 3%;
    vertical-align: middle;
    text-transform: uppercase;
    color: #4D5AE5;
}
.logo-head {
color: #2E2F42;
}
.spc {
    width: 261;
    height: 24;
    top: 24px;
    left: 347px;
    gap: 40px;
}
.studio {
    width: 48;
    height: 24;
    font-family: Roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2%;
    color: #2E2F42;
}
.portfolio {
    width: 66;
    height: 24;
    font-family: Roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2%;
    color: #2E2F42;
}
.contacts {
    width: 67;
    height: 24;
    font-family: Roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2%;
    color:  #2E2F42;
}
.mailto {
    width: 153;
    height: 24;
    top: 24px;
    left: 940px;
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2%;
    color: #434455;
}
.tel {
    width: 151;
    height: 24;
    top: 24px;
    left: 1133px;
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2%;
    color: #434455;
}
.hero-section {
    background-color: #2E2F42;
    width: 1440px;
    height: 600px;
}

.hero-title {
font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 56px;

    /* line-height: 60px; */
    line-height: 107%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
}

.hero-button {
    width: 169;
    height: 56;
    top: 428px;
    left: 636px;
    border-radius: 4px;
    padding-top: 16px;
    padding-right: 32px;
    padding-bottom: 16px;
    padding-left: 32px;
    gap: 10px;
    color: #4D5AE5;
}