ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}
.nav {
    height: 72;
    border-width: 1px;
    color: #E7E9FC;
}
.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    
    /* line-height: 21px; */
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.logo-head {
color: #2E2F42;
}
.spc {
    top: 24px;
}
.studio {
    
   
    font-family: Roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2%;
    color: #2E2F42;
}
.portfolio {
    
    
    font-family: Roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2%;
    color: #2E2F42;
}
.contacts {
    
    
    font-family: Roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2%;
    color:  #2E2F42;
}
.mailto {
   
   
    top: 24px;
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2%;
    color: #434455;
}
.tel {
    
   
    top: 24px;
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2%;
    color: #434455;
}
.hero-section {
    background-color: #2E2F42;
    
    
}

.hero-title {
font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 56px;

    /* line-height: 60px; */
    line-height: 107%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
}

.hero-button {
    background: #4d5ae5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    
    /* line-height: 24px; */
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #fff;
}